<ion-header no-border>

  <ion-navbar color="branco">
    <h2 class="text-verde-secondary">Cadastre-se</h2>
  </ion-navbar>

</ion-header>

<ion-content padding fullscreen>
  <form [formGroup]="user" (ngSubmit)="createUser()">
        <ion-item>
          <ion-label>Nome</ion-label>
          <ion-input type="text" [(ngModel)]="user.name" name="name" formControlName="name" required></ion-input>
        </ion-item>
        <ion-item *ngIf="user.controls.name.hasError('required') && user.controls.name.touched">
          <p text-uppercase class="danger-error">* este campo é obrigatório.</p>
        </ion-item>
        <ion-item>
          <ion-label>E-mail</ion-label>
          <ion-input type="email" [(ngModel)]="user.email" name="email" formControlName="email" required></ion-input>
        </ion-item>
        <ion-item *ngIf="!user.controls.email.valid && user.controls.email.touched">
          <p text-uppercase class="danger-error">* insira um e-mail 'obrigatório'.</p>
        </ion-item>
        <ion-item>
          <ion-label>Fone</ion-label>
          <ion-input type="text" [(ngModel)]="user.fone" name="fone" formControlName="fone" [brmasker]="{mask:'(00)000000000', len:13, type:'num'}" required></ion-input>
        </ion-item>
        <ion-item *ngIf="!user.controls.fone.valid && user.controls.fone.touched">
          <p text-uppercase class="danger-error">* insira um número com DDD.</p>
        </ion-item>
        <ion-item>
          <ion-label>Senha</ion-label>
          <ion-input type="password" [(ngModel)]="user.senha" name="senha" formControlName="senha" required></ion-input>
        </ion-item>
        <ion-item *ngIf="user.controls.senha.hasError('required') && user.controls.senha.touched">
          <p text-uppercase class="danger-error">* senha obrigatório mín. 6 caracteres.</p>
        </ion-item>
        <ion-item>
          <ion-label>Repetir senha</ion-label>
          <ion-input type="password" [(ngModel)]="user.retry_password" name="retry_password" formControlName="retry_password" required></ion-input>
        </ion-item>
        <ion-item *ngIf="user.controls.retry_password.hasError('required') && user.controls.retry_password.touched">
          <p text-uppercase class="danger-error">* campo obrigatório mín. 6 caracteres.</p>
        </ion-item>
        <button ion-button type="submit" [disabled]="!user.valid" block>Cadastrar</button>
      </form>
</ion-content>
