page-credit-card {
  .input-card {
    border-bottom: 1px solid #000;
    box-shadow: 0px 2px 0px 0px #000;
  }

  .credit-card{
    border-top: 5px solid #26791d;
  }

.card-exist {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#83c783+0,52b152+26,2fbe20+70,26791d+100 */
  background: #83c783; /* Old browsers */
  background: -moz-linear-gradient(45deg, #83c783 0%, #52b152 26%, #2fbe20 70%, #26791d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #83c783 0%,#52b152 26%,#2fbe20 70%,#26791d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #83c783 0%,#52b152 26%,#2fbe20 70%,#26791d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83c783', endColorstr='#26791d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

  .color-white {
    color: #FFF;
  }

  .remove-card {
    color: red;
    text-align: center;
  }
}
