<ion-header no-border>
  <ion-navbar color="branco">
    <h2 class="text-verde-secondary">Cartão de crédito</h2>
  </ion-navbar>
</ion-header>

<ion-content fullscreen>
  <!-- EXIBIR CARTÃO -->
  <ion-card class="card-exist" *ngIf="card_exist" padding>
    <ion-row>
      <ion-col>
      <ion-icon name="card" class="color-white"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col><h1 class="color-white">* * * *</h1></ion-col>
      <ion-col><h1 class="color-white">* * * *</h1></ion-col>
      <ion-col><h1 class="color-white">* * * *</h1></ion-col>
      <ion-col><h1 class="color-white">{{ card_exist.number.substr(-4) }}</h1></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      <p class="color-white">Validade {{ card_exist.expirationMonth + '/' + card_exist.expirationYear }}</p>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-row *ngIf="card_exist">
    <ion-col (click)="removeCard()">
      <h6 class="remove-card">Remover cartão ?</h6>
    </ion-col>
  </ion-row>
  <!--CADASTRAR CARTÃO -->
  <ion-card class="credit-card" *ngIf="!card_exist" padding>
    <form (ngSubmit)="createCreditCard()" autocomplete="off">
      <ion-row>
        <ion-col>
        <ion-item>
          <ion-label floating>CPF</ion-label>
          <ion-input type="text" [(ngModel)]="card.cpf" name="cpf" class="input-card" [brmasker]="{mask:'000.000.000-00', len:14, type:'num'}" required></ion-input>
        </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        <ion-item>
          <ion-label floating>Número do cartão</ion-label>
          <ion-input type="text" [(ngModel)]="card.number" name="number" class="input-card" [brmasker]="{mask:'0000.0000.0000.0000', len:19, type:'num'}" required></ion-input>
        </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label floating>Data Vencimento</ion-label>
            <ion-input type="text" [(ngModel)]="card.expirationDate" class="input-card" name="expirationMonth" [brmasker]="{mask:'00/00', len:5, type:'num'}" required></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label floating>cvc</ion-label>
            <ion-input type="text" [(ngModel)]="card.cvc" name="cvc" class="input-card" [brmasker]="{mask:'000', len:3, type:'num'}" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <button ion-button type="submit" block color="secondary">Cadastrar cartão</button>
    </form>
  </ion-card>
</ion-content>
