<ion-content padding>
  <img src="assets/imgs/login.png" class="animated fadeIn fadeInDown" style="padding-top: 10%; padding-bottom: 10%" />
  <ion-row>
    <form (ngSubmit)="logingadfy()" style="width: 100%" class="animated fadeIn">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>E-mail</ion-label>
            <ion-input type="text" [(ngModel)]="usergadfy.email" name="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Senha</ion-label>
            <ion-input type="password" [(ngModel)]="usergadfy.senha" name="senha"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col start>
          <button type="submit" ion-button full icon-left class="btn-login">Login</button>
        </ion-col>
        <ion-col end>
          <button type="button" ion-button full icon-left (click)='createUser()' class="btn-login">Cadastrar-se</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button type="button" ion-button full icon-left (click)='loginFacebook()' color="primary">
            <ion-icon name="logo-facebook"></ion-icon>Login com Facebook
          </button>
        </ion-col>
      </ion-row>
    </form>
  </ion-row>
</ion-content>
