<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="" tabIcon="pin"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="" tabIcon="albums"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="" tabIcon="star-outline"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="" tabIcon="menu"></ion-tab>
</ion-tabs>
