<ion-header no-border>
  <ion-navbar color="branco" transparent>
    <h2 class="text-verde-secondary" text-center>Favoritos</h2>
  </ion-navbar>
</ion-header>


<ion-content fullscreen>
  <ion-item text-center>
  Você ainda não tem favoritos.
  </ion-item>
</ion-content>
