<ion-header no-border>
  <ion-toolbar transparent>
    <h2 class="text-verde-secondary" text-center>Selecione uma categoria</h2>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="background: #F2F2F2">
  <ion-grid>
    <ion-row>
    <ion-col col-6 *ngFor="let cat of categories">
      <ion-card (click)="useCategory(cat.id)">
        <ion-card-header text-center text-uppercase>
          {{ cat.nome }}
        </ion-card-header>
        <ion-card-content>
          <img src="assets/icon/{{ category[cat.id] }}" class="img-thumb">
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>
