<ion-header no-border>
    <ion-navbar color="branco" transparent>
        <h2 class="text-verde-secondary">Perfil</h2>
    </ion-navbar>
</ion-header>
<ion-content>
  <ion-card style="width: 50%; margin: 0 auto; border-radius: 50% ">
            <ion-avatar item-center>
                <img src="../assets/imgs/profile.jpeg" class="profile-photo">
            </ion-avatar>
  </ion-card>
    <form #form id="form" padding>
        <ion-item>
            <ion-label floating>Nome</ion-label>
            <ion-input type="text" value="Jefferson Souza" clearInput clearOnEdit="false"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input type="email" value="jefferson@gmail.com" clearInput clearOnEdit="false"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Telefone</ion-label>
            <ion-input type="phone" value="51982890613" clearInput clearOnEdit="false"></ion-input>
        </ion-item>

        <ion-row>
            <ion-col text-center>
                <button ion-button block color="primary">
                    Salvar
                </button>
            </ion-col>
            <ion-col text-center>
                <button ion-button block color="dark">
                    Alterar senha ?
                </button>
            </ion-col>
        </ion-row>

    </form>
</ion-content>
