page-home {

	#map {
		position: absolute;
		height: 100%;
		width: 100%;
	}

	#search{
		position: relative;
	}

	.menuTop{
		cursor: pointer;
	}

	.icon-green {
		color: #32db64;
	}

	.blue {
		color: blue;
	}

}


page-place {

	animation: fade-in .6s ease-in-out;
	@keyframes fade-in {
		0%   { opacity: 0; }
		100% { opacity: 1; }
	}

	.sample-modal-page {
		background: rgba(0,0,0,0.0);
	}

	.mini-modal {
		position: absolute;
		height: 35%;
		bottom: 0;
		background: #FFF;
		box-shadow: 1px 0px 4px 0px #c0c0c0;
		border-top: 4px solid #A800D2;
	}


	.distance {
		color: #26791d;
	}

	.saber-mais {
		color: #0174DF;
	}
}
