<ion-content fullscreen>
  <div #map id="map" fullscreen></div>
  <ion-fab top right>
  	<button ion-fab color="secondary">
  		<ion-icon name="search"></ion-icon>
  	</button>
  </ion-fab>
</ion-content>
<ion-pullup *ngIf="local" (onExpand)="footerExpanded()" (onCollapse)="footerCollapsed()" [(state)]="footerState">

  <ion-pullup-tab style="background: #FFF; margin-top: 70%" [footer]="pullup" (tap)="toggleFooter()">
    <ion-icon color="secondary" name="arrow-up" *ngIf="footerState == 0"></ion-icon><ion-icon color="secondary" name="arrow-down" *ngIf="footerState == 1"></ion-icon>
  </ion-pullup-tab>
  <ion-toolbar color="branco" (tap)="toggleFooter()">
    <h2 class="text-preto" text-center text-uppercase>{{ local.empresa }}</h2>
  </ion-toolbar>
  <ion-content style="padding-top: 15px">
        <ion-row style="background: #FFF">
        	<ion-col padding text-center>
            <h6 text-uppercase text-center>
              <span>{{ 'Aproximadamente '+convertKm(local.distancia) }}</span>
            </h6>
        		<p text-center class="text-cinza-escuro">{{ local.endereco }}</p>
        			<span *ngFor="let tag of local.tag">
        				<ion-badge color="secondary">{{ tag.tag }}</ion-badge>
        			</span>
        	</ion-col>
          <button ion-button block color="secondary" (click)="placeDetail()">Ver mais ...</button>
        </ion-row>
  </ion-content>

</ion-pullup>
