<ion-header no-border>
  <ion-toolbar transparent>
    <h2 class="text-verde-secondary" text-center>Tickets de Desconto</h2>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="!plans" center>
		<img src="assets/imgs/loading.gif" style="margin-top: 15%" />
	</ion-item>

  <ion-card *ngFor="let plan of plans" padding class="card-plans" (click)="confirmPlan(plan)">
    <ion-row text-center>
			<ion-col col-5>
				<ion-thumbnail item-start>
          <img src="assets/imgs/ticket.png" style="width: 50%" />
				</ion-thumbnail>
			</ion-col>
			<ion-col col-7 text-center>
				 <h3 class="plan-title">Plano {{ plan.plano }}</h3>
				 <h2 >com {{ plan.cupons }} Tickets</h2>
         <h3 class="value-ticket">R$ {{ plan.valor.replace(".", ",") }}</h3>
			</ion-col>
		</ion-row>
  </ion-card>

  <ion-item-group>
      <ion-item-divider text-center text-uppercase>Informações</ion-item-divider>
  		<ion-list>
  		  <ion-item>
  		    <ion-icon name="pricetag" class="text-cinza-escuro"></ion-icon>
  		      <strong class="text-cinza-escuro">Seus Tickets</strong>
  		    <span item-end class="text-cinza-escuro">{{ tickets }}</span>
  		  </ion-item>
  		</ion-list>
    </ion-item-group>
</ion-content>
