page-coupons {

  .card-plans{
  	border-radius: 2%;
  	box-shadow: 0px 3px 0px 0px #26791d inset;
  	border: 1px solid #c0c0c0;
  }

  .plan-title{
    color: #26791d;
    font-size: 20px;
    text-align: center;
  }

  .value-ticket {
    color: #26791d;
  }

}
