<ion-header no-border>
  <ion-navbar color="branco" transparent>
    <h2 class="text-verde-secondary">Como usar ?</h2>
  </ion-navbar>
</ion-header>

<ion-content fullscreen>
  <ion-item text-center>
    é um aplicativo de guia.
  </ion-item>
</ion-content>
