<ion-header no-border>
	<ion-navbar color="branco">
		<ion-buttons left>
			<button ion-button icon-only color="secondary" (click)="categoryModal()">
				<ion-icon name="search"></ion-icon>
			</button>
		</ion-buttons>
		<h2 class="text-verde-secondary" text-center>Próximo de você</h2>
		<ion-buttons end>
			<button ion-button icon-only color="secondary" (click)="couponsModal()">
				<ion-icon name="basket"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content
		pullingIcon="arrow-dropdown">
	</ion-refresher-content>
</ion-refresher>

<ion-list>
	<ion-item *ngIf="!locais.length" center>
		<img src="assets/imgs/loading.gif" style="margin-top: 15%" />
	</ion-item>

	<ion-card *ngFor="let local of locais[0]" (click)="placeDetail(local)" padding class="animated fadeIn card-feed">
		<ion-row>
			<ion-col col-4>
				<ion-thumbnail item-start class="thumb-card">
					<img *ngIf="!local.perfil" src="assets/icon/gadfy.png" class="img-thumb">
					<img *ngIf="local.perfil" src="{{ local.perfil+'AIzaSyDLaapEiapp4inlQUmzalv-0CNUMPYpas4' }}" class="img-thumb">
				</ion-thumbnail>
			</ion-col>
			<ion-col col-8>
				<h3 class="km">{{ 'Aproximadamente '+convertKm(local.distancia) }}</h3>
				<strong style="font-size: 15px" text-uppercase>{{ local.empresa }}</strong>
				<p class="text-bege">{{ local.endereco }}</p>
			</ion-col>
		</ion-row>
	</ion-card>
</ion-list>

<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
	<ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>
