page-feed {

.km{
	color: #A800D2;
}

.img-thumb{
	border-radius: 50%;
	width: 100%;
	height: 90px;
}

.card-feed{
	box-shadow: 3px 0px 0px 0px #2fbe20 inset;
	border: 1px solid #c0c0c0;
}

ion-content {
    background-size: cover;
    background-position-x: 50%;
  }



}
