<ion-header no-border>
  <ion-navbar color="branco" transparent>
    <h2 class="text-verde-secondary">Notificações</h2>
  </ion-navbar>
</ion-header>

<ion-content fullscreen>
  <ion-item text-center>
  Você não tem notificações no momento.
  </ion-item>
</ion-content>
