myapp {
    #cabecalho-menu .item-inner {
        border: none;
    }
    .cabecalho-menu {
        background-image: url('../assets/imgs/material-design-background.jpeg');
        height: 150px;
        margin-bottom: 10px;

        ion-avatar img {
            width: 95px;
            height: 95px;
            margin: auto;
            position: relative;
            top: 0; left: 0; bottom: 0; right: 0;
        }

        h2 {
            color: white;
            font-weight: bold;
        }

        p {
            color: #eee;
        }
    }
}