<ion-split-pane>
	<!--<ion-menu [content]="conteudo">
		<ion-content>
			<ion-item id="cabecalho-menu" class="cabecalho-menu" text-center>
				<div>
					<ion-avatar item-start>
						<img src="assets/imgs/profile.jpeg">
					</ion-avatar>
				</div>
				<h2>Jefferson</h2>
				<p>jefferson@gmail.com</p>
			</ion-item>
			<ion-list>
				<button ion-item menuClose *ngFor="let page of pages" (click)="redirect(page.component)">
					<ion-icon name="{{page.icon}}" item-left></ion-icon>
					{{ page.title }}
				</button>
			</ion-list>

		</ion-content>
	</ion-menu>-->

	<ion-nav [root]="rootPage" main #conteudo swipeBackEnable="false"></ion-nav>
</ion-split-pane>

<!--
<ion-split-pane> exibe o menu lateral em telas maiores, colocar o main no ion-nav

swipeBackEnable="false" utiliza o deslizar apenas para abrir o menu sem trocar de tela

button menuClose exconde o menu, isso é feito só aqui, a exibição do menu é feita no component de exibição no caso a home ou o feed

<ion-menu [content]="conteudo"> informando ao ionic que este conteudo fará parte do conteudo principal
-->
