page-place-detail {

.km{
	color: #A800D2;
}
ion-content {
    background-size: cover;
    background-position-x: 50%;
  }

    .scroll-content {
			height: 100vh !important;
			overflow: auto !important;
      flex-direction: column;
    }

		ion-slide.swiper-slide {
    align-items: flex-start;
		height: 50%;
		}

		.swiper-pagination-bullet-active {
			background: #00FA9A;
			opacity: 1;
		}

    .slide-background {
      border-color: transparent;
      background-position: center;
      background-size: cover;
    }


		/*ion-header ion-icon.back-button-icon.icon {
		    color: #26791d;
		}*/

		.roxo {
			color: #A800D2;
		}

		.value-descount {
			color: #2fbe20;
			margin: 10px;
		}

}
