<ion-header>
  <ion-navbar color="branco">
    <h2 class="text-verde-secondary">Detalhes</h2>
  </ion-navbar>
</ion-header>

<ion-content fullscreen>
  <ion-row style="background: #FFF">
  	<ion-col padding text-center>
  		<h2 class="text-preto" style="font-size: 30px" text-uppercase text-center>{{ place_start.empresa }}</h2>
  		<p text-center class="text-cinza-escuro">{{ place_start.endereco }}</p>
  	</ion-col>
  </ion-row>

  <ion-item *ngIf="!place" center>
    <img src="assets/imgs/loading.gif" />
  </ion-item>

  <ion-item *ngIf="place">
  <span *ngFor="let tag of place.tag">
    <ion-badge color="secondary">{{ tag.tag }}</ion-badge>
  </span>

	<ion-slides
	initialSlide=0
	loop=true
	autoplay=3000
	pager="true"
	zoom="true" style="height: 300px !important;"
	*ngIf="place.image.length > 0">
	<ion-slide *ngFor="let image of place.image">
		<img src="{{ image.url+'AIzaSyDLaapEiapp4inlQUmzalv-0CNUMPYpas4' }}" style="width: 100%">
	</ion-slide>
</ion-slides>

<ion-slides
initialSlide=0
loop=true
pager="true"
style="background: #F2F2F2; height: auto;"
*ngIf="place.desconto.length > 0" padding>

<ion-slide *ngFor="let desconto of place.desconto">
<ion-card>
  <ion-card-header>
    <ion-item-divider text-center text-uppercase>Desconto</ion-item-divider>
  </ion-card-header>
  <ion-card-content>
    <p>{{ desconto.descricao }}</p>
    <ion-item text-center>
		<h1 class="value-descount">R$ {{ desconto.desconto }}</h1>
    </ion-item>
    <ion-item>
    <span item-start style="font-size: 12px" class="text-cinza-escuro">Restante: {{ desconto.quantidade }}</span>
    <span item-end style="font-size: 12px" class="text-cinza-escuro">Validade: {{ desconto.validade }}</span>
  </ion-item>
		<button ion-button block color="roxo" style="color: #FFF" (click)="confirmDescount(desconto.id)">Capturar desconto</button>
  </ion-card-content>
</ion-card>
</ion-slide>
</ion-slides>

<ion-item-group style="background: #F2F2F2">
    <ion-item-divider text-center text-uppercase>Informações</ion-item-divider>
		<ion-list>
		  <ion-item>
		    <ion-icon name="at" class="text-verde"></ion-icon>
		      <strong class="text-cinza-escuro">E-mail:</strong>
		    <span item-end class="text-cinza-escuro">{{ place.email }}</span>
		  </ion-item>
			<ion-item>
		    <ion-icon name="phone-portrait" class="text-verde"></ion-icon>
		      <strong class="text-cinza-escuro">Contato:</strong>
		    <span item-end class="text-cinza-escuro">{{ place.contato }}</span>
		  </ion-item>
			<ion-item>
		    <ion-icon name="compass" class="text-verde"></ion-icon>
		      <strong class="text-cinza-escuro">Distancia:</strong>
		      <!--<span item-end class="text-cinza-escuro">{{ convertKm(place.distancia) }}</span>-->
		  </ion-item>
			<ion-item>
		    <ion-icon name="clock" class="text-verde"></ion-icon>
		      <strong class="text-cinza-escuro">Horário:</strong>
		    <span item-end class="text-cinza-escuro">{{ place.abertura }} hrs - {{ place.fechamento }} hrs</span>
		  </ion-item>
		</ion-list>
  </ion-item-group>

<ion-card>
  <ion-card-header>
    <ion-item-divider text-center text-uppercase>Detalhes do local</ion-item-divider>
  </ion-card-header>
  <ion-card-content class="text-cinza-escuro">
    {{ place.descricao }}
  </ion-card-content>
</ion-card>
</ion-item>
</ion-content>
