<ion-header no-border>
  <ion-navbar color="branco" transparent>
    <ion-title>Olá {{ name }}!</ion-title>
  </ion-navbar>
</ion-header>

<ion-content fullscreen>
<ion-list>
  <button ion-item menuClose *ngFor="let page of pages" (click)="redirect(page.component)">
    <span class="text-cinza-escuro">{{ page.title }}</span>
    <ion-icon name="{{page.icon}}" item-end class="text-verde-secondary"></ion-icon>
  </button>
</ion-list>
</ion-content>
